body{

margin:0;

font-family:'Poppins',sans-serif;

background-image:url("https://i.pinimg.com/736x/05/22/96/052296fcd2f1137afad58226d45c63ed.jpg");

background-size:cover;
background-position:center;

height:100vh;

display:flex;
align-items:center;
justify-content:center;

flex-direction:column;

}

.contenedor-principal{

display:flex;
align-items:center;
justify-content:center;

height:100%;

}

.card{

background:rgba(255,255,255,0.92);

padding:40px;

border-radius:15px;

width:360px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}

h1{

font-family:'Playfair Display',serif;

font-size:34px;

color:#2d6a4f;

letter-spacing:3px;

margin-bottom:10px;

}

#verse{

font-style:italic;

margin-bottom:20px;

color:#444;

}

input{

padding:10px;

width:90%;

border-radius:6px;

border:1px solid #ccc;

margin-bottom:12px;

}

button{

padding:10px 18px;

border:none;

border-radius:6px;

cursor:pointer;

font-weight:500;

}

.asisto{

background:#38b000;

color:white;

margin:5px;

}

.noasisto{

background:#d00000;

color:white;

margin:5px;

}

ul{

list-style:none;

padding:0;

}

li{

background:#d8f3dc;

padding:7px;

margin:5px;

border-radius:5px;

animation:confirm 0.5s ease;

}

footer{

position:absolute;

bottom:8px;

width:100%;

text-align:center;

font-family:'Playfair Display',serif;

font-size:12px;

color:white;

opacity:0.7;

letter-spacing:1px;

}

@keyframes confirm{

0%{transform:scale(0.8);opacity:0;}

100%{transform:scale(1);opacity:1;}

}
.cambiar{

background:#888;

color:white;

margin-top:10px;

}